{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="my-4">Panier</h1>

        {% if panier is empty %}
            <p>Votre panier est vide.</p>
        {% else %}
            <!-- Bouton pour vider le panier -->
            <a href="{{ path('app_panier_delete_all') }}" class="btn btn-danger mb-4">Vider le panier</a>

            <div class="row">
                <div class="col-12">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Produit</th>
                            <th scope="col">Quantité</th>
                            <th scope="col">Prix unitaire</th>
                            <th scope="col">Total</th>
                            <th scope="col">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% set total = 0 %}
                        {% for item in panier %}
                            {% set subtotal = item.produit.prix * item.quantite %}
                            {% set total = total + subtotal %}
                            <tr>
                                <td>{{ item.produit.libelle }}</td>
                                <td>{{ item.quantite }}</td>
                                <td>{{ item.produit.prix }} €</td>
                                <td>{{ subtotal }} €</td>
                                <td>
                                    <a href="{{ path('app_panier_add', { produit: item.produit.id }) }}" class="btn btn-success">+</a>
                                    <a href="{{ path('app_panier_remove', { produit: item.produit.id }) }}" class="btn btn-warning">-</a>
                                    <a href="{{ path('app_panier_delete', { produit: item.produit.id }) }}" class="btn btn-danger">x</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="3" class="text-right"><strong>Total :</strong></td>
                            <td>{{ total }} €</td>
                            <td></td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <a href="{{ path('valider_commande') }}" class="btn btn-primary">Valider la commande</a>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}