{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title">Inscription</h1>

                        {{ form_start(registrationForm) }}

                        {% set field_classes = 'form-control' %}

                        {% for field in registrationForm %}
                            {% if field.vars.name != '_token' %}
                                {% if field.vars.name == 'agreeTerms' %}
                                    <div class="form-check">
                                        {{ form_widget(field, {'attr': {'class': 'form-check-input'}}) }}
                                        {{ form_label(field, null, {'label_attr': {'class': 'form-check-label'}}) }}
                                    </div>
                                {% else %}
                                    <div class="form-group">
                                        {{ form_label(field, null, {'label_attr': {'class': 'font-weight-bold'}}) }}
                                        {{ form_widget(field, {'attr': {'class': field_classes}}) }}
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}

                        <button type="submit" class="btn btn-primary">Inscription</button>

                        {{ form_end(registrationForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
